/* styles.css */

.status-indicator {
    height: 10px;
    width: 100%;
    border-radius: 5px;
}

.status-indicator.green {
    background-color: #4caf50;
}

.status-indicator.red {
    background-color: #f44336;
}
